<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{videoedit.html}"
>
<head>
    <title>Video set</title>
    <!--    <link rel="stylesheet" th:href="@{/css/newspaceship.css}" type="text/css"/>-->
</head>

<body>
<div layout:fragment="content_videoedit">
    <h1>Video set</h1>
    <p>Video set is a set of video tracks</p>
    <form class="card sync-form" th:classappend="${somethingIsPublished} ? bg-light : ''" th:method="post"
          th:action="@{/control/videoedit/videoset/synchronize}">
        <div class="card-body">
            <h3 th:if="${somethingIsPublished}">You have a set to synchronize!</h3>
            <div class="row">
                <p class="col-sm-10" th:classappend="${!clientConnected} ? text-bold : ''">
                    Synchronization copies all displaySets marked as <span class="text-success">Published</span> to all
                    client devices.
                    Can be done only when all clients are connected.
                    <span th:if="${somethingIsPublished}">One of the display sets have changed</span>
                </p>

                <div class="col-sm-2">
                    <!--                <button type="submit" class="btn btn-warning" th:disabled="${!clientConnected}">Synchronize-->
                    <button type="submit" class="btn btn-dark">Synchronize
                    </button>
                </div>
            </div>
            <div class="text-center">
                <div id="spinnerPosition" class="" role="status"></div>
            </div>

        </div>
    </form>
    <br>
    <div id="videoSetDetail">
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            <th scope="col">Created by</th>
            <th scope="col">Created</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${videosets.isEmpty()}">
            <td scope="row"> No displaySet to be displayed</td>
        </tr>
        <tr th:each="videoset : ${videosets}">
            <td scope="row"><span th:text="${videoset.getId()}"> Id </span></td>
            <td><span th:text="${videoset.getName()}"> name </span></td>
            <td><span th:text="${videoset.getDuration()}"> duration </span></td>
            <td><span th:id="'field-publish-'+${videoset.getId()}"
                      th:text="${videoset.getStatus()}"
                      th:classappend="${videoset.isPublished()} ? (${videoset.isChanged()} ? text-warning : text-success)  : ''"> status </span>
            </td>
            <!--            <td><span th:text="${videoset.getStatus()}"> status </span></td>-->
            <td><span th:text="${videoset.getDescription()}"> description </span></td>
            <td><span th:text="${videoset.getCreatedByUsername()}"> createdby </span></td>
            <td><span th:text="${videoset.getCreatedCet()}"> created </span></td>
            <td>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item videoset-publish" th:value="${videoset.getId()}">Publish</button>
                        <button class="dropdown-item video-set-detail" th:value="${videoset.getId()}">Details</button>
                    </div>
                </div>

            </td>
        </tr>


        </tbody>
    </table>


    <div id="createVideoSet">
        <div th:replace="fragments/videoSetFragments :: displaySetCreate"></div>

    </div>

</div>

</body>

<div layout:fragment="content_js_secondary">
    <script type="module" src="/js/displayset.js"></script>
</div>