<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>
<div th:fragment="create">

    <h2>Create new user</h2>
    <form th:action="@{/users/add}" th:object="${userForm}" method="post">
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{username}" class="form-control"
                       th:classappend="${#fields.hasErrors('username')} ? is-invalid : ''" id="inputUsername">

                <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback" th:errors="*{username}">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" th:field="*{password}" class="form-control"
                       th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''" id="inputPassword">
                <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Roles</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" th:field="*{admin}" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Admin
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" th:field="*{presentator}" type="checkbox" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                        Presentator
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Active</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" th:field="*{active}" type="checkbox" id="gridCheck3">
                    <label class="form-check-label" for="gridCheck1"></label>
                </div>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create new user</button>
            </div>
        </div>
    </form>
</div>

<div th:fragment="edit_roles (username,userId)">
    <h2>Edit roles for: <span th:text="${username}">UserId</span>
    </h2>
    <form th:action="@{/users/edit/roles/} + ${userId}" th:object="${userForm}" th:method="post">

        <div class="form-group row">
            <div class="col-sm-2">Roles</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" th:field="*{admin}" type="checkbox" id="gridCheck4">
                    <label class="form-check-label" for="gridCheck1">
                        Admin
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" th:field="*{presentator}" type="checkbox" id="gridCheck5">
                    <label class="form-check-label" for="gridCheck2">
                        Presentator
                    </label>
                </div>
            </div>
        </div>

        <p>To use newly gained roles, user need to do logout and login</p>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary ">Edit roles for <span th:text="${username}"></span>
                </button>
            </div>
        </div>
    </form>
</div>


<div th:fragment="edit_password (username,userId)">
    <h2>Create new password for: <span th:text="${username}">UserId</span>
    </h2>
    <form th:action="@{/users/edit/password/} + ${userId}" th:object="${userForm}" th:method="post">
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">New password</label>
            <div class="col-sm-10">
                <input type="password" placeholder="new password" th:field="*{password}" class="form-control"
                       th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''" id="inputNewPassword">
                <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}">
                    Please choose a password.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary ">Set new password for <span th:text="${username}"></span>
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>