<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>
<div th:fragment="displaySetCreate">
    <h3>Create video set</h3>
    <br>

    <form id="createVideoSetForm" method="POST" enctype="multipart/form-data" th:object="${videoSetForm}"
          th:action="@{/control/videoedit/videoset/add}">

        <div class="form-group row">
            <label for="inputFilename" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{name}" class="form-control"
                       th:classappend="${#fields.hasErrors('name')} ? is-invalid : ''" id="inputFilename">

                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback"
                     th:errors="*{name}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{description}" class="form-control"
                       th:classappend="${#fields.hasErrors('description')} ? is-invalid : ''" id="inputDescription">

                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback"
                     th:errors="*{description}"></div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-12">
                <button id="uploadFileSubmitButton" type="submit" class="btn btn-primary float-right"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="This action will upload file and create record in database">Create
                </button>
                <p class="float-right videoSizeText" id="videoSize"></p>
            </div>
        </div>
    </form>

</div>



<div class="my-2" th:fragment="autonomousCreate">
    <h3>Update autonomous order</h3>
    <br>

    <form id="uploadVideoForm" method="POST" enctype="multipart/form-data" th:object="${autonomousForm}"
          th:action="@{/control/autonomous/set}">

        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <div th:if="${clientCount==0}">
            <a scope="row"> No videotracks to be displayed</a>
        </div>
        <div class="form-group row" th:each="displaySet, iter : ${displaySets}">
            <label for="inputFilename" class="col-sm-3 col-form-label" th:text="${displaySet.getName()}"></label>
            <div class="col-sm-1">
                <select class="custom-select" th:field="*{autonomousSets[__${displaySet.id}__].order}">
                    <option value="0" selected>-</option>
                    <option th:value="${order}" th:text="${order}" th:each="order:${#numbers.sequence(1,iter.size)}">
                        or
                    </option>

                </select>
            </div>


        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <button id="autonomousSubmitButton" type="submit" class="btn btn-primary float-right"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="This action will update current autonomous playlist">Update
                </button>
            </div>
        </div>
    </form>

</div>

<div th:fragment="displaySetDetail">
    <h4>Detail for <span th:text="${displaySet.name}"></span></h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Display set</th>
            <th scope="col">Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Track types</th>
            <th scope="col">Description</th>
            <th scope="col">Created by</th>
            <th scope="col">Created</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${displayTracksForDisplaySet.isEmpty()}">
            <td scope="row"> No displaySets to be displayed</td>
        </tr>
        <tr th:each="displayTrack : ${displayTracksForDisplaySet}">
            <td scope="row"><span th:text="${displayTrack.getId()}"> Id </span></td>
            <td><span th:text="${displayTrack.getDisplaySet()}"> display set Id </span></td>

            <td><span th:text="${displayTrack.getName()}"> name </span></td>
            <td><span th:text="${displayTrack.getDuration()}"> duration </span></td>
            <td><span th:text="${displayTrack.getTrackType()}"> trackTypes </span></td>
            <td><span th:text="${displayTrack.getDescription()}"> description </span></td>
            <td><span th:text="${displayTrack.getCreatedByUsername()}"> createdby </span></td>
            <td><span th:text="${displayTrack.getCreatedCet()}"> created </span></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>