<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>
<div th:fragment="displayTrackCreate">
    <h3>Create video track</h3>
    <br>

    <form id="uploadVideoForm" method="POST" enctype="multipart/form-data" th:object="${videoTrackForm}"
          th:action="@{/control/videoedit/videotrack/add}">

        <div class="form-group row">
            <label for="inputFilename" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{name}" class="form-control"
                       th:classappend="${#fields.hasErrors('name')} ? is-invalid : ''" id="inputFilename">

                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback"
                     th:errors="*{name}"></div>
            </div>
        </div>


        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{description}" class="form-control"
                       th:classappend="${#fields.hasErrors('description')} ? is-invalid : ''" id="inputDescription">

                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback"
                     th:errors="*{description}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputFilename" class="col-sm-2 col-form-label">Display Set</label>
            <div class="col-sm-10">
                <select class="custom-select my-1 mr-sm-2" id="inlineFormVideoSetSelect" th:field="*{displaySetId}">
                    <option th:if="${displaySets.isEmpty()}" value="" selected>No display sets</option>
                    <option th:each="displaySet : ${displaySets}" th:value="${displaySet.id}"
                            th:text="${displaySet.name}"></option>
                </select>
            </div>

        </div>

        <div th:if="${clientCount==0}">
            <a scope="row"> No videotracks to be displayed</a>
        </div>
        <div class="form-group row" th:each="client:${#numbers.sequence(0,clientCount-1)}">
            <label for="inputFilename" class="col-sm-2 col-form-label">Client <span
                    th:text="${client+1}"></span></label>
            <div class="col-sm-10">
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"
                        th:field="*{videoFilesIds[__${client}__].id}">
                    <option th:if="${videoFiles.isEmpty()}" value="" selected>No videofiles</option>
                    <option th:each="videofile : ${videoFiles}" th:value="${videofile.getId()}"
                            th:text="${videofile.getFilepath()}"></option>
                </select>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <button id="uploadFileSubmitButton" type="submit" class="btn btn-primary float-right"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="This action will upload file and create record in database">Create
                </button>
                <p class="float-right videoSizeText" id="videoSize"></p>
            </div>
        </div>
    </form>

</div>
<div th:fragment="displayTrackDetail">
    <h4>Detail for <span th:text="${displayTrack.name}"></span></h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Filename</th>
            <th scope="col">Path</th>
            <th scope="col">Duration</th>
            <th scope="col">Size</th>
            <th scope="col">Description</th>
            <th scope="col">Synchronized</th>
            <th scope="col">Created</th>
            <th scope="col">Created at</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${videoFilesForDisplayTrack.isEmpty()}">
            <td scope="row"> No users to be displayed</td>
        </tr>
        <tr th:each="videofile : ${videoFilesForDisplayTrack}">
            <td scope="row"><span th:text="${videofile.getId()}"> Id </span></td>
            <td><span th:text="${videofile.getFilename()}"> name </span></td>
            <td><span th:text="${videofile.filepath}"> path </span></td>
            <td><span th:text="${videofile.duration}"> duration </span></td>
            <td><span th:text="${videofile.fileSize}"> size </span></td>
            <td><span th:text="${videofile.description}"> description</span></td>
            <td><span th:text="${videofile.clientSynchronized}"> synchronized </span></td>
            <td><span th:text="${videofile.createdByUsername}"> created by </span></td>
            <td><span th:text="${videofile.getCreatedCet()}"> created </span></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>