.container {
    padding: 0 15px;
}

.footer {
    background-color: #f5f5f5;
}

.alert {
    margin-top: 1rem;
}

/*Navigation*/
input.for-navigator {
    display: none;
}

a.nav-menu {
    color: black;
}
a.nav-menu:hover {
    /*border-bottom: 1px solid #007bff ;*/
    text-decoration: underline;
}
a.nav-menu.checked {
    color: #007bff !important;
}

.divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

/*Documentation*/
.bd-toc {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
    color: #77757a!important;
}
.toc-entry {
    display: block;
}

li.toc-entry > a{
    color: #77757a !important;
    text-decoration: none;
    background-color: transparent;
}

/*Control*/



/*Control - Video edit*/
.container-videoedit {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.custom-file-video {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.custom-folder-dropdown {
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}


input.custom-file-input {
    cursor: text;
}
label.custom-file-label.is-invalid {
    border: 1px solid #dc3545;
}

.videoSizeText {
    padding: .5rem 1rem;
}

.page-link-dropdown{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    margin-left: 0;
}

