<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <title>Main</title>
<!--    <link rel="stylesheet" th:href="@{/css/newspaceship.css}" type="text/css"/>-->
</head>

<body>
<div layout:fragment="content">
    <h1 class="display-4">Langwiluv model</h1>
    <p>Langweilův model Prahy z let 1826–1837 je unikátním a nejatraktivnějším exponátem muzea.</p>

    <p>Od 12. dubna 2007 je po vyčištění a s novým osvětlením opět přístupný veřejnosti.</p>

    <p>Je jedinečným dokladem podoby Starého Města, Malé Strany a Pražského hradu před přestavbou Prahy na konci 19.
        a
        počátku 20. století.
        Byl vyroben ručně z papírové lepenky. Na přibližně 20 m² je zobrazeno historické jádro Prahy v detailní
        podobě,
        jakou mělo před sto padesáti lety, tedy včetně stovek zbořených domů bývalého Židovského města a Starého
        Města.
        Více než 2000 budov je na barevném modelu zachyceno v měřítku 1:480, se všemi detaily výzdoby fasád i
        podrobnostmi dvorů, zahrad a hospodářské zástavby nitra domovních parcel a přilehlých pozemků. Pro mnoho
        zbořených historických budov je Langweilův model jediným svědkem jejich podoby.</p>

    <p>Tvůrcem modelu byl zaměstnanec pražské Univerzitní knihovny Antonín Langweil (1791–1837), který své neobvyklé
        zálibě věnoval veškerý volný čas i finanční prostředky. Přestože byl model již ve své době obdivován mnohými
        vzdělanci, mecenáše pro svou práci Langweil nikdy nenašel. Zemřel v bídě a početné rodině zanechal jen dluhy
        a
        nedokončené dílo, jehož cena se tehdy zdála velmi problematická. V roce 1840 se stal model součástí majetku
        Národního muzea v Praze a po více než sto letech byl předán do sbírek Muzea hlavního města Prahy, kde je
        nejvyhledávanější součástí historické expozice. Teprve dnešní doba dokáže ocenit skutečný význam Langweilova
        modelu, význam prvotřídního dokumentu i nevšedního uměleckého díla.</p>

</div>
</body>