<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <title>Documentation</title>
    <!--    <link rel="stylesheet" th:href="@{/css/newspaceship.css}" type="text/css"/>-->
</head>

<body>
<div layout:fragment="content">
    <h1>Documentation</h1>
    <div class="row flex-xl-nowrap">
        <nav class="d-none d-xl-block col-xl-2 bd-toc">
            <ul class="section-nav">
                <li class="toc-entry toc-h2"><a href="#overview">Overview</a></li>
                <li class="toc-entry toc-h2"><a href="#web">Web</a></li>
                <ul>
                    <li class="toc-entry toc-h3"><a href="#web_users" th:text="#{documentation.users}">Users</a></li>
                </ul>

                <li class="toc-entry toc-h2"><a href="#control">Control</a>
                    <ul>
                        <!--                        <li class="toc-entry toc-h3"><a href="#web">Web</a></li>-->
                        <li class="toc-entry toc-h3"><a href="#mobileapp">Mobile app</a></li>
                        <li class="toc-entry toc-h3"><a href="#exhibition">Exhibition</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            <h2 id="overview"><span class="bd-content-title">Overview</span></h2>
            <b>Apologies, site is under construction</b>
            <p>This is a documentation for the exhibition control tool.</p>


            <h2 id="web"><span class="bd-content-title" th:text="#{documentation.web}">Web</span></h2>
            <p th:text="#{documentation.web1}">paragraph1</p>

            <h3 id="web_users">
                <span class="bd-content-title" th:text="#{documentation.users}">Users</span>
            </h3>
            <p th:text="#{documentation.users1}">paragraph1</p>


            <h2 id="control"><span class="bd-content-title">Control</span></h2>
            <h3>Terminology</h3>
            <p> To settle an issue of playlist configurability we have introduced a terminology for a description of
                multiple screen playlists, tracks and video files. Final playable set of tracks shall be modeled by a
                particular object/class/entity.Below list of types introduce such objects in a clear way..DisplaySet -
                represents final playable "playlist", contains displayTracks.DisplayTrack - represents a track for all
                connected displays. For each display contains a specific videofile.VideoFile - represents a real
                playable
                file in the content of video, picture or audio file.Please see figure 3.4, there you can examine the
                division of denominations above. It can be observed that Display sets consist of multiple Display
                track while Display track consists of multiple Video files. The number of displaytrack in one display
                set is not limited, while the amount of video files for each display track is limited by both
                configuration and also by number of client devices.</p>

            <h3>User-roles</h3>
            <p>Administrator.Person responsible for management and state of the exhibition, creates new users, assigns
                presenter roles, manages current state of autonomous playlist. Has ability to edit present and create new
                playlist.Should receive thorough training to be able to perform maintenance correctly.Granted full
                access to the exhibition through web portal.Presenter.Person conducting the lectural sessions with the
                real audience(Either broad od targeted in various groups). Uses the mobile application for the
                presentation purpose. Typicaly with good background knowledge on the subject, giving comprehensive
                commentary and enhancing the experience ofthe wide audience with the exhibition. Has limited access to
                the exhibitionthrough web portal (Only simple actions such as exhibition playback control and
                documentation display are permited)</p>

            <h3 id="mobileapp">
                <span class="bd-content-title">Mobile app</span>
            </h3>
            <p></p>

            <h3 id="exhibition">
                <span class="bd-content-title">Exhibition</span>
            </h3>
            <p></p>
        </main>
    </div>
</div>
</body>