<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <title>Users</title>
    <!--    <link rel="stylesheet" th:href="@{/css/newspaceship.css}" type="text/css"/>-->
</head>

<body>
<div layout:fragment="content">
    <h1 th:text="#{users}">Users</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Roles</th>
            <th scope="col">Created</th>
            <th scope="col">Is active</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.isEmpty()}">
            <td scope="row"> No users to be displayed</td>
        </tr>
        <tr th:each="user : ${users}">
            <td scope="row"><span th:text="${user.id}"> Id </span></td>
            <td><span th:text="${user.name}"> name </span></td>
            <td><span th:text="${user.roles}"> Id </span></td>
            <td><span th:text="${user.createdCet}"> Created </span></td>
            <td><span th:text="${user.isEnabled}"> name </span></td>

            <td>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Edit
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <button class="dropdown-item user-edit-roles" th:value="${user.id}">Change roles</button>
                        <button class="dropdown-item user-edit-password" th:value="${user.id}">Change password</button>
                        <button class="dropdown-item user-edit-toggle" th:value="${user.id}">Toggle
                            active/inactive</button>
                    </div>
                </div>
            </td>
        </tr>


        </tbody>
    </table>
    <div id="editUserContainer" th:if="${editPassword}">
        <div th:replace="fragments/userFragments :: edit_password (username=${editUsername}, userId=${editUserId})"></div>
    </div>
    <div id="addUserContainer">
        <div th:if="${addUser}">
            <div th:replace="fragments/userFragments :: create"></div>
        </div>
        <div th:unless="${addUser} or ${editPassword}">
            <button class="btn btn-primary float-right" id="addUserBtn">Add user</button>

        </div>
    </div>


</div>
</body>

<footer layout:fragment="content_js">
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/users.js"></script>
</footer>